BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 8b732f780191

ALTER TABLE appointments DROP COLUMN clinic_id;

INSERT INTO alembic_version (version_num) VALUES ('8b732f780191') RETURNING alembic_version.version_num;

COMMIT;

